
<!doctype html>
<html>
<head>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<meta charset="utf-8">
<title>CSE</title>
      {% include "base_head.html" %}
  
  <div id="instructions">
    <p>{{error|safe}}</p>
   
  </div>
</div>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script> 
<script>
 $("#menu").hover(function () {
    $('body').toggleClass("active");
 });
</script>


</body>
</html>
