
<!doctype html>
<html>
<head>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<meta charset="utf-8">
<title>CSE</title>
      {% include "base_head.html" %}
      
<div class="container-fluid" style="background:#f6f6f6;height:100%;width:100%;">
  <div class="container-fluid" style="position:relative;top:11%;width: 92%">
  
  <div class="jumbotron">
    <div style="color:black;font-size: 25px">{{title|safe}} {{problem_code|safe}} <br></div>
       
   </div>
   <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body" ><b>Problem:</b><br><br>{{question|safe}}</div>
  </div>
  <div class="panel panel-info class">
    <div class="panel-body"><b>Constraints & Subtasks :</b><br><br>{{constraints|safe}} </b></div>
  </div>
 
   <div class="panel panel-default">
    <div class="panel-body"><b>Example:</b><br><br>{{example|safe}}</b></div>
  </div>
  <br>
  <button type="button" class="btn btn-success">submit</button>
</div>
   
 </div>
 
 


</div>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script> 
<script>
 $("#menu").hover(function () {
    $('body').toggleClass("active");
 });
</script>


</body>
</html>
